<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.baitian.daisongsong.demo"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="ANDROID.PERMISSION.INTERNET"/>

    <application
        android:name=".base.Core"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".module.welcome.WelcomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".service.MyTimeService"
            android:process=":time"/>

        <service
            android:name=".service.MyTimeService1"
            android:process=":time1"/>

        <service android:name=".module.floatview.FloatService"/>

        <activity android:name=".module.leftmenu.LeftMenuActivity"/>

        <activity android:name=".module.main.MainActivity"/>

        <activity android:name=".module.speed.SpeedActivity"/>

        <activity android:name=".module.refreshlistview.RefreshListViewActivity"/>

        <activity android:name=".module.okhttpdemo.OkHttpActivity"/>
    </application>

</manifest>
